*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(133, 115, 119, 0.5);
}

input{
    width: 100%;
    border:none ;
    padding:20px;
    margin: 10px;
    color: #ffffff;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 90px;
    height:60px;
    margin: 20px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.equalBtn{
    background-color: orange;
}
.operator{
    color: green ;
}